.main-content {
  width: 100%;
  padding: 2rem;
  padding-top: 80px;
  background-color: var(--color-neutral-light);
  height: calc(100vh - 80px);
  margin-top: 5vh;
}


.main-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-content p {
  font-size: 1rem;
  line-height: 1.5;
}
